# opensearch.yml -- tune thread pools
thread_pool:
  search:
    size: 25
    queue_size: 1000
  write:
    size: 10
    queue_size: 200

# Invalid example: custom thread pools are not allowed.
# thread_pool:
#   search:
#     size: 25
#     queue_size: 1000
#   write:
#     size: 10
#     queue_size: 200
#   my-custom-pool:
#     size: 1
#     queue_size: 10

# Setting dedicated cluster manager nodes
cluster.initial_cluster_manager_nodes: ["node-1", "node-2", "node-3"]


